@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {
    background-color: #233d4d;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    transition: 0.2s;
}